*{
    box-sizing: border-box;
    margin: 0;
}
.ska {
    width: 1440px;
    height: 800px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shre {
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 20px; 
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0px;
}
    
.ori {
    width: 288px;
    height: 288px;
    background-color: #2C7DFA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
